<div class="my-gifty-page-container">
    <div class="wishlist">
      <div class="user-info">
        <img src="https://cdn.pixabay.com/photo/2012/04/13/21/07/user-33638_1280.png" alt="User Image" class="user-image" />
        <div class="user-details">
          <p style="color: white;">{{ loggedInUserName }}'s Wishlists</p>
        </div>
      </div>
  
      <!-- Separator Line -->
      <hr class="divider" />
  
      <!-- Wishlist Container -->
      <div class="wishlist-container">
        <!-- Add Wishlist Card -->
        <div 
          class="wishlist-card add-wishlist" 
          (click)="canAddNewWishlist() && newWishlist.title = ''" 
          *ngIf="canAddNewWishlist()">
          <span class="material-icons">add</span>
          <input 
            *ngIf="canAddNewWishlist()" 
            type="text" 
            [(ngModel)]="newWishlist.title" 
            placeholder="Enter wishlist name" 
            (keyup.enter)="addWishlist()" 
          />
        </div>
            <!-- Wishlist Cards with Trash Icon -->
            <div *ngFor="let wishlist of wishlists" class="wishlist-card" (click)="navigateToWishlist(wishlist)">
                <span class="material-icons gift-icon">card_giftcard</span>
                <p>{{ wishlist.title }}</p>
            </div>
      </div>
    </div>
  
    <div class="reminders">
        <app-reminders></app-reminders>
        <app-mini-calendar></app-mini-calendar>
    </div>
 
</div>
  
